/* SHORTSCORE */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    html .shortscore {
        background-image: url('images/hexagon-sprite-trans@2x.png');
    }

    html .single .type-game .shortscore {
        background-image: url('images/hexagon-sprite-trans@4x.png');
    }
}

.type-game .shortscore,
.comments-area .shortscore {
    background-repeat: no-repeat;
    background-size: 300px;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    font-weight: 700;
}

.single .type-game .shortscore {
    background-repeat: no-repeat;
    background-size: 600px;
    text-align: center;
    width: 200px;
    height: 200px;

    line-height: 200px;
    font-size: 60px;
    font-weight: 700;
    background-image: url('images/hexagon-sprite-trans@2x.png');
}

.single .type-game {
    text-align: center;
}

.comments-area .shortscore {
    margin-bottom: 0.4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2em;
    color: #fff;
}

.shortscore {
    background-image: url('images/hexagon-sprite-trans.png');
    color: #fff;
}

.shortscore-0 {
    background-position: 0 0;
    color: #128C4D;
}

.shortscore-1 {
    background-position: -100px 0;
}

.shortscore-2 {
    background-position: -200px 0;
}

.shortscore-3 {
    background-position: 0 -100px;
}

.shortscore-4 {
    background-position: -100px -100px;
}

.shortscore-5 {
    background-position: -200px -100px;
}

.shortscore-6 {
    background-position: 0 -200px;
}

.shortscore-7 {
    background-position: -100px -200px;
}

.shortscore-8 {
    background-position: -200px -200px;
}

.shortscore-9 {
    background-position: 0px -300px;
}

.shortscore-10 {
    background-position: -100px -300px;
}

.single .type-game .shortscore-1{
    background-position: -200px 0;
}

.single .type-game .shortscore-2{
    background-position: -400px 0;
}

.single .type-game .shortscore-3{
    background-position: 0 -200px;
}

.single .type-game .shortscore-4{
    background-position: -200px -200px;
}

.single .type-game .shortscore-5{
    background-position: -400px -200px;
}

.single .type-game .shortscore-6{
    background-position: 0 -400px;
}

.single .type-game .shortscore-7{
    background-position: -200px -400px;
}

.single .type-game .shortscore-8{
    background-position: -400px -400px;
}

.single .type-game .shortscore-9{
    background-position: 0px -600px;
}

.single .type-game .shortscore-10{
    background-position: -200px -600px;
}

.type-game .shortscore {
    margin: 0 auto;
    margin-bottom: 0.4em;
}

.comment-content .shortscore {
    margin-bottom: 1em;
    margin-right: 0.5em;
    float: right;
}

.author .comment-content .shortscore {
    float: left;
}

.score {
    text-align: center;
    margin-bottom: 2em;
    color: #707070;
}

.type-game .entry-title,
.type-game .entry-content {

}

#rangeslider_output,
.score-notice {
    text-align: center;
}

.type-game .entry-title {
    margin-bottom: 0.5em;
}

.shortscore-box .item .fn {
    display: none;
}

.score-notice {
    margin-bottom: 2em;
}
