.btn {
    background-color: #108D4F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #59b185;
    color: white;
}

.comments-title {
    display: none;
}

html body.author.archive #primary,
html body.page-two-column #comments {

margin-left: auto;
margin-right: auto;
width: 740px;

}

html body.author .comment-author.vcard {
    display: none;
}


html body.author .comment-content .shortscore {
    margin: 0;
}